.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  line-height: 1.25;
  text-align: center;
  color: #292929;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.7;
  text-align: center;
  color: #292929;
  margin-top: 16px;
}

.phone_container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checked_container {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
}
.terms_checkbox {
  border-radius: 2px;
  width: 18px !important;
  height: 18px !important;
  accent-color: #ff5821;
  cursor: pointer;
}

.terms_label {
  font-size: 14px;
  margin-left: 8px;
}

.checkbox_link {
  color: #ff5821;
  text-decoration: none;
}

.phone_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 1.7;
  color: #404040;
}

.phone_number {
  margin-top: 8px;
}

.phone_btn_active {
  max-width: 456px;
  width: 100%;
  transition: 0.1s ease-in;
  margin-top: 24px;
  box-shadow:
    0 1px 4px 0 rgba(12, 12, 13, 0.05),
    0 1px 4px 0 rgba(12, 12, 13, 0.1);
  background: #ff5821;
  &:hover {
    background: #f13d0f;
  }
}

.phone_btn_disabled {
  max-width: 456px;
  width: 100%;
  transition: 0.1s ease-in;
  margin-top: 24px;
  background-color: #b8b8b8;
}

.checked_container {
  display: flex;
}

@media (max-width: 577px) {
  .title {
    font-size: 25px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 20px;
  }
  .phone_btn_active {
    max-width: 350px;
  }
  .phone_btn_disabled {
    max-width: 350px;
  }
}
