.container {
    width: 100%;
    background-color: #082d38;
    height: 100%;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    span {
        color: #fdfdfd;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
}