.container {
  width: 100%;
  background-color: #082d38;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  // margin-top: 120px;
  span {
    color: #fdfdfd;
    font-size: 16px;
    text-align: center;
  }
}
