.header {
    display:flex;
    // max-width: 100%;
    width: 100%;
    height: 6.25rem;
    background-color: #082D38;
    align-items: center;
    // border-radius: 0px 0px 16px 16px;
    padding: 0.9375rem;
    position: fixed;
    z-index: 1002;
}

.container {
    max-width: 70.5625rem;
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
        max-width: 22.5625rem;
        width: 100%;
    }
}