.main {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 85px;
}
.image_container {
  display: flex;
  max-width: 100%;
  width: 100%;
  max-height: 1024px;
  height: 100%;
  background: url('../../../../public/img/bacn_main.jpg') no-repeat center center / cover; 
  position: relative;
//   background-position: center calc(-120px);
}

.info_container {
  position: relative;
  inset: 0; // Подстроит контейнер под родителя
  padding: 0 15px;
  max-width: 1074px;
  margin-left: 24.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  width: 100%;
}

@media screen and (max-width: 1800px) {
  .info_container {
    max-width: 80%;
  }
}

@media screen and (max-width: 1240px) {
  .info_container {
    max-width: 60%;
  }
}

.title_2 {
        display: flex;
        align-items: center;
    h2{
    color: #f3f3f3;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 16px;
    }
}

.title_1 {
    margin-top: 24px;
    max-width: 617px;
    width: 100%;
    color: #fdfdfd;
    font-size: 3.5rem;
    font-weight: 700;
    span {
        font-size: 3.5rem;
        color: #e8af1d;
    }
}

.material_list {
    list-style: none;
    display: flex;
    margin-top: 32px;
    max-width: 552px;
    width: 100%;
    flex-wrap: wrap;
}

.material {
    display: flex;
    margin-left: 16px;
    align-items: center;
    margin-bottom:20px;
    &:first-child {
        margin-left: 0;
    }
    &:nth-child(3) {
        margin-left: 0;
    }
}

.material_img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(7%) hue-rotate(48deg) brightness(115%) contrast(91%);
}

.material_text {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #f3f3f3;
}
.button_container {
    display: flex;
    justify-content: space-between;
    max-width: 446px;
    width: 100%;
    margin-top: 60px;
    
}

.button_link {
    text-decoration: none;;
}

.btn_telegram {
    background-color: #5FABE1;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #2e8fd4;
    }
}
.btn_call {
    background-color: #66C44E;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #31ac35;
    }
}

// @media screen and (min-width: 1920px){
//     .image_container{
//          background: url('../../../../public/img/bacn_main.jpg') no-repeat center / cover; 
//     }
// }