.main {
  position: relative;
  display: inline-block;
  max-width: 1921px;
  width: 100%;
  height: auto;
  margin-top: 120px;
}
.image_container {
    display: flex;
  width: 100%;
  height: 1024px;
  background: url('../../../../public/img/product_photo1.jpg') no-repeat center / cover; /* Картинка */
  background-position: center calc(-120px);
}
.image_blur {
  max-width: 1074px;
  width: 100%;
  height: 1024px;
  background: url('../../../../public/img/blur_back.jpg');
  margin-top: -121px;
  display: flex;
  justify-content: center;
}

.info_container {
    margin-top: 258px;
    padding: 0 15px;
}

.title_2 {
        display: flex;
        align-items: center;
    h2{
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 16px;
    }
}

.title_1 {
    margin-top: 24px;
    max-width: 617px;
    width: 100%;
    color: #fdfdfd;
    font-size: 56px;
    font-weight: 700;
    span {
        color: #e8af1d;
    }
}

.material_list {
    list-style: none;
    display: flex;
    margin-top: 32px;
    max-width: 552px;
    width: 100%;
    flex-wrap: wrap;
}

.material {
    display: flex;
    margin-left: 16px;
    align-items: center;
    margin-bottom:20px;
    &:first-child {
        margin-left: 0;
    }
    &:nth-child(3) {
        margin-left: 0;
    }
}

.material_img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(7%) hue-rotate(48deg) brightness(115%) contrast(91%);
}

.material_text {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #f3f3f3;
}
.button_container {
    display: flex;
    justify-content: space-between;
    max-width: 446px;
    width: 100%;
    margin-top: 60px;
    
}

.button_link {
    text-decoration: none;;
}

.btn_telegram {
    background-color: #5FABE1;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #2e8fd4;
    }
}
.btn_call {
    background-color: #66C44E;
    transition: 0.2s ease-in;
    &:hover {
        background-color: #31ac35;
    }
}