.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up_level {
    padding: 8px 0 8px 0;
    border-bottom: 0.5px solid #244b56;
}

.list {
    font-size: 14px;
    display: flex;
    list-style: none;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}

.info {
    color: #e7e7e7;
    &:first-child {
        margin-right: 24px;
    }
}

.phone {
    margin-left: 46px;
    
    span {
        margin-left: 4px;
        color: #f3f3f3;
        font-weight: 700;
        transition: 0.2s ease;
    }
    &:hover {
        span {
            color: #e8af1d;
        }
        .icon_phone {
            scale: 1.2;
        }
    }
}

.link_phone {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.telegram {
    margin-left: 46px;
    transition: 0.2s ease;
    &:hover {
        scale: 1.1;
    }
}

.nav_list {
    display: flex;
    padding: 14px 0 26px 0;
    list-style: none;
    text-decoration: none;
    justify-content: space-between; 
}

.nav_items {
    display: flex;
}

.nav_item {
    text-decoration: none;
    // margin-right: 32px;
    color: #e7e7e7;
    transition: 0.2s ease;
    // &:last-child {
    //     margin-right: 0px;
    // }
    &:hover {
        color: #e8af1d;
    }
}