.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.up_level {
  padding: 8px 0 8px 0;
  border-bottom: 0.0313rem solid #244b56;
}

.list {
  font-size: 14px;
  display: flex;
  list-style: none;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.info {
  color: #e7e7e7;
  font-size: 14px;
  font-weight: 400;
  &:first-child {
    margin-right: 24px;
  }
}

.icon_phone {
  transition: 0.1s eas-in;
}

.phone {
  margin-left: 46px;
  transition: 0.2s ease;
  span {
    margin-left: 8px;
    color: #e8af1d;
    font-weight: 700;
    transition: 0.2s ease;
    border-bottom: 1px solid transparent;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.phone_mobile {
  display: none;
  background-color: #e8af1d;
  padding: 10px;
  border-radius: 50%;
}

.link_phone {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.telegram {
  margin-left: 46px;
  transition: 0.2s ease;
  display: none;
  &:hover {
    scale: 1.1;
  }
}

.nav_list {
  display: flex;
  padding: 14px 0;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}

.nav_items {
  display: flex;
}

.nav_item {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: #e7e7e7;
  transition: 0.2s ease;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 0.0625rem;
    width: 0;
    background-color: #e8af1d;
    transition: width 0.3s ease-in-out;
  }
  &_active {
    color: #e8af1d;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    text-decoration: none;
    transition: 0.2s ease;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.1875rem;
      height: 0.0625rem;
      background-color: #e8af1d;
      transition: width 0.3s ease-in-out;
      width: 100%;
    }
  }
  &:hover {
    color: #e8af1d;
    &:before {
      width: 100%;
    }
  }
}

@media (max-width: 1004px) {
  .container {
    margin-left: 0.625rem;
  }
  .list {
    font-size: 0.625rem;
    gap: 20px;
  }
  .info {
    font-size: 14px;
    &:first-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 930px) {
  .list {
    gap: 10px;
  }
}
@media (max-width: 900px) {
  .list {
    gap: 0px;
  }
}

@media (max-width: 870px) {
  .nav_list {
    display: none;
  }
  .info {
    display: none;
  }
  .container {
    flex-direction: row;
    justify-content: start;
  }
  .up_level {
    border: none;
    padding: 0;
  }
}

@media (max-width: 45rem) {
  .list {
    gap: 0;
  }
}

@media (max-width: 40.625rem) {
  .container {
    justify-content: start;
  }
  .icon_phone {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 35rem) {
  .phone {
    margin-left: 0;
  }
}
@media (max-width: 32.5rem) {
  .phone {
    display: none;
  }
  .phone_mobile {
    display: block;
    span {
      display: none;
    }
  }
}
@media (max-width: 27.5rem) {
  .list {
    margin-left: 0.9375rem;
  }
}

@media (max-width: 25.0625rem) {
  .info {
    display: none;
  }
  .container {
    flex-direction: row;
  }
}
