@import url('https://cdn.jsdelivr.net/gh/poposnail61/min-sans@main/web/css/minsans-dynamic-subset.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'min-sans', sans-serif;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #e7e7e7;
}
.container {
  position: relative;
}
