.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  line-height: 1.75;
  text-align: center;
  color: #fdfdfd;
  // border-radius: 30px;
  border-radius: 10px;
  border: none;
}
